@charset "utf-8";

/* 이벤트 페이지 */

/* 버튼들 */
.lend-tabmenu {
  display: flex;
  justify-content: center;
  gap: 1.6rem;

  margin-bottom: 5%;
}

.lend-tabmenu button {
  width: 23.9rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  background: var(--btn);
  color: var(--Light-100);
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;

  width: 15.7237%;
  font-size: clamp(1.8rem, 1.302vw, 2.5rem);
}

.lend-tabmenu button:hover,
.lend-tabmenu button.on {
  background: var(--main-color);
}

/* s.event */
.event-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.event-list li {
  width: 49rem;
  /* height: 37rem; */

  width: 32.2368%;
}

.event-list li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.event-list li figure {
  width: 100%;
  height: 27rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.event-list li img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: center;
}

.event-text {
  font-size: 2.4rem;
  font-weight: 800;

  font-size: clamp(1.2rem, 1.25vw, 2.4rem);
}

/* 반응형0000000000000000000000000000000000000000000000000000000000 */
@media (max-width: 1600px) {
  .event-list > li {
    flex: 1 1 30%;
  }
}

@media (max-width: 940px) {
  .event-list {
    padding-top: 4rem;
  }
  .event-list > li figure {
    height: 28.2rem;
  }

  .event-list > li {
    flex: 1 1 50%;
  }
}
